// Variables for the project
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Variables for fonts
$poppins-font: "Poppins", sans-serif;
$merriweather-font: "Merriweather", serif;

// Size container
$max-width-container: 1400px;

// Colors
$bg-dark-blue: #2B2D38;
$gray: #ABABAB;
$pink: #DB2A6B;
$white: #FFFFFF;