// Variables for the project
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Variables for fonts
$poppins-font: "Poppins", sans-serif;
$merriweather-font: "Merriweather", serif;

// Size container
$max-width-container: 1350px;

// Colors
$bg-dark-blue: #2B2D38;
$gray: #ABABAB;
$gray-dark: #464751;
$pink: #DB2A6B;
$white: #FFFFFF;
$purple-person: #6E1FED;
$blue-person: #60D3D9;
$yellow-person: #F4B840;
$orange-person: #FF7E29;
