@use '@abstracts/variables' as v;
@use '@abstracts/mixins' as mx;

.btn--primary {
    @include mx.button--primary;
    transition: transform .2s ease-in-out;

    &:hover {
        background-color: v.$bg-dark-blue;
        background-color: v.$white;
        color: v.$pink;
        font-weight: 600;
        transform: scale(1.1)
    }
}

.btn--secondary {
    @include mx.button--secondary;
    display: flex;
    align-items: center;
    transition: all .1s ease-in-out;

    &:hover {
        transform: scale(1.1);
        text-decoration: none;
    }
}